<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application            android:icon="@mipmap/ic_launcher"
        android:label="Baeren Settings Service"> <!-- Label is for OS settings, not user facing -->

        <provider
            android:name=".BaerenSettingsProvider"
            android:authorities="com.talq2me.baeren.settingsprovider"
            android:exported="true"
            android:protectionLevel="signature" /> <!-- SECURITY: Only your apps can access it -->

        <!-- NO LAUNCHER ACTIVITY -->
        <!--
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
    </application>

</manifest>